<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Login Form</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="login-header">
                <h2>Вход в личный календарь</h2>
                <p>Введите логин и пароль, если вы уже зарегистрированы.</p>
                <p>Если вы еще не зарегистрированы, воспользуйтесь ссылкой ниже</p>
            </div>
            <form class="login-form" id="loginForm" action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="login-btn">
                    <span class="btn-text">Sign In</span>
                    <span class="btn-loader"></span>
                </button>

            </form>

            <div class="signup-link">
                <p><a href="register">Регистрация</a></p>
            </div>

        </div>
    </div>

</body>
</html>