{% extends "base.html" %}
    {% block title %}Редактирование товара{% endblock %}
  {% block content %}
{% include "header.html" %}
  <h1>Редактирование товара</h1>
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {{ formset.management_form }}

      {% for img_form in formset %}
           <fieldset>
               {{ img_form.as_table }}
               {% if img_form.instance.image %}
                   <img src="{{ img_form.instance.image.url }}" width="120" />
               {% endif %}
           </fieldset>
       {% endfor %}

      <input type="submit" value="Редактировать товар товар"/>
      <input type=button value="Назад" onClick="javascript:history.go(-1);">
  </form>
  {% endblock %}
