<table>
        <tr>
            {% load static %}
            <td style="border: none; padding: 3pt;"><img src="{% static 'images/shmavito_white.gif' %}"></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/goods/">Список товаров</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/order/">Мои заказы</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/cart/">Корзина</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/">Выход</a></td>
        </tr>
</table>