<table>
        <tr>
            {% load static %}
            <td style="border: none; padding: 3pt;"><img src="{% static 'images/shmavito_white.gif' %}"></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/list_ads">Ваши товары и предложения</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/order">Мои заказы</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/add_good">Создать товар</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/logout">Выход</a></td>
        </tr>
</table>