<table>
        <tr>
            {% load static %}
            <td style="border: none; padding: 3pt;"><img src="{% static 'images/shmavito_white.gif' %}"></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/list_all">Список товаров</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/auth">Войти</a></td>
            <td style="border: none; border-bottom: 1px solid blue; padding: 3pt;"><a href="/register">Регистрация</a></td>
        </tr>
</table>