{% extends "base.html" %}
    {% block title %}Список ваших предложений{% endblock %}

{% block content %}
{% include "header_anon.html" %}
    {% load static %}
    {% csrf_token %}
    {% for good in goods %}
        <h1>
             Название товара: {{ good.name }}
        </h1>
        <h4>Товарная категория: {{ good.category }}</h4>
        <p><b>Описание товара:</b> {{ good.description }}</p>
        <p><i>Автор: {{ good.customer }}</i></p>
        <div class="gallery">
        {% for image in good.images.all %}
                <a href="{{ image.image.url }}" target="blank"><img src="{{ image.image.url }}" style="width: auto; height: 100px;"></a>
        {% endfor %}
        </div>
                <br>
        <table><tr><td colspan="2" style="border: none; padding: 3pt;">Предложения на товаре:</td></tr><tr>
       {% for ad in ads %}
          {% if ad.good.id == good.id %}
            <td style="border: none; padding: 3pt; width: 50%;">

            <table style="border: 1px solid blue; border-collapse: collapse; ">
            <tr><td style="border: none; padding: 3pt;">Название:</td><td style="border: none; padding: 3pt;"> <i>{{ ad.name }}</i></td></tr>
            <tr><td style="border: none; padding: 3pt;">Описание предложения:</td><td style="border: none; padding: 3pt;"> <i>{{ ad.description }}</i></td></tr>
            <tr><td style="border: none; padding: 3pt;">Начало:</td><td style="border: none; padding: 3pt;"> {{ ad.sdate }}</td></tr>
            <tr><td style="border: none; padding: 3pt;">Конец:</td><td style="border: none; padding: 3pt;"> {{ ad.edate }}</td></tr>
            <tr><td style="border: none; padding: 3pt;">Стоимость:</td><td style="border: none; padding: 3pt;"> <b style="color: red;">~~~</b> руб/сутки <i  style="color: red; font-size: 0.75em;">(чтобы увидеть цену вам надо авторизоваться)</i></td></tr>
            </table></td>

          {% endif %}

       {% endfor %}
        </tr><tr><td colspan="2" style="border: none; padding: 3pt;">
            <p style="color: red;">Для того, чтобы откликнуться на объявление вам надо авторизоваться</p>
        </td></tr></table>
                    <hr align="center" color="blue">

    {% endfor %}

{% endblock %}