{% extends "base.html" %}
    {% block title %}Список ваших предложений{% endblock %}

{% block content %}
{% include "header.html" %}
    {% csrf_token %}
    {% for good in goods %}
        <p>{{ customer }}</p>
        <p>{{ cuscus }}</p>
        <p>{{ good.name }}<br>
            {{ good.category }}<br>
            {{ good.description }}<br>
            {% for image in good.images.all %}
                <img src="{{ image.image.url }}">
            {% endfor %}
        </p>
        <hr align="center" color="blue"
    {% endfor %}
{% endblock %}