{% extends "base.html" %}
    {% block title %}Создание заказа{% endblock %}
  {% block content %}
{% include "header.html" %}
  <h1>Создание заказа</h1>
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
         <p>Итоговая сумма: <span id="total_sum">0</span></p>
      <input type="submit" value="Заказать товар"/>
      <input type=button value="Назад" onClick="javascript:history.go(-1);">
  </form>
<script>
    function updateTotal() {
        const daysElem = document.getElementById('id_days');
        const priceElem = document.getElementById('id_price');
        const totalElem = document.getElementById('total_sum');

        const days = parseFloat(daysElem.value) || 0;
        const price = parseFloat(priceElem.value) || 0;

        const total = days * price;
        totalElem.textContent = total.toFixed(2);
    }

    document.getElementById('id_days').addEventListener('change', updateTotal);
    document.getElementById('id_price').addEventListener('input', updateTotal);

    // Инициализация при загрузке
    updateTotal();
</script>
  {% endblock %}
